.happenin{
  border: 1px;
  border-color: black;
  padding: 9 px;
};

.subscription{
  border: 1px;
  border-color: black;
  padding: 9 px;
};

.gameAdmin{
  border: 1px;
  border-color: black;
  padding: 9 px;
};
