.happenin{
  background-color: gray;
  border: 1px;
  border-color: black;
  padding: 9 px;
  color: white;
};

.subscription{
  border: 1px;
  border-color: black;
  padding: 9 px;
};

.gameAdmin{
  border: 1px;
  border-color: black;
  padding: 9 px;
};
